body{
    background-color: lightcyan;
}
#Calculator{
    border: 1px solid rgb(144, 144, 144);
    border-radius: 5px;
    height: 70%;
    width: 220px;
    color: black;  
    background-color: beige;  
   
}
#display{
    margin: 20px ;
    width: 80%;
    font-size: 25px;

}
.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.button{
    width: 45px;
    height: 40px;
    margin: 3px;
    
}
.button-equal{
    width: 45px;
    height: 90px;
    margin: 3px;
}
h2{
    text-align: center;
}